#
# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

service xiaomi.touchfeature-default /system/bin/vendor.lineage.xiaomitouch-service
    class hal
    user system
    group system input uhid 