#
# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

service vendor.xiaomitouch /vendor/bin/hw/vendor.lineage.xiaomitouch-service
    class hal
    user system
    group system
