on early-boot
    chown system graphics /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown
    chmod 0664 /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown

on boot
    # wireless charging
    chown system system /sys/class/qcom-battery/reverse_chg_mode
    chmod 0644 /sys/class/qcom-battery/reverse_chg_mode

    # fingerprint
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

    chown system system /sys/class/touch/touch_dev/fod_press_status
    chmod 0664 /sys/class/touch/touch_dev/fod_press_status

    chown system system /sys/devices/virtual/mi_display/disp_feature/disp-DSI-0/disp_param

    chmod 0664 /sys/devices/virtual/mi_display/disp_feature/disp-DSI-0/disp_param
    chmod 0664 /sys/class/touch/touch_dev/fod_press_status

    # fingerprint gestures
    chown system system /sys/class/touch/touch_dev/fod_longpress_gesture_enabled
    chmod 0660 /sys/class/touch/touch_dev/fod_longpress_gesture_enabled

    chown system system /sys/class/touch/touch_dev/gesture_single_tap_enabled
    chmod 0660 /sys/class/touch/touch_dev/gesture_single_tap_enabled

    chown system system /sys/class/touch/touch_dev/gesture_double_tap_enabled
    chmod 0660 /sys/class/touch/touch_dev/gesture_double_tap_enabled
    chown system system /sys/class/touch/touch_dev/gesture_double_tap_state
    chmod 0664 /sys/class/touch/touch_dev/gesture_double_tap_state

on post-fs-data
    mkdir /data/vendor/misc 01771 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system

on property:vendor.post_boot.parsed=1
     # Set default thermal profile
     write /sys/class/thermal/thermal_message/sconfig 0

on property:ro.vendor.sensors.xiaomi.single_tap=true
    write /sys/class/touch/touch_dev/gesture_single_tap_enabled 1

on property:ro.vendor.sensors.xiaomi.double_tap=true
    write /sys/class/touch/touch_dev/gesture_double_tap_enabled 1

on property:ro.vendor.sensors.xiaomi.udfps=true
    write /sys/class/touch/touch_dev/fod_longpress_gesture_enabled 1

service touch_report /odm/bin/touch_report
    disabled
    override