<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.telephonyoverlay.xiaomi">
    <application android:hasCode="false" />
    <overlay android:isStatic="true"
             android:priority="1"
             android:targetPackage="com.android.phone"
             android:targetName="XiaomiFrameworkResOverlay" />
</manifest>
