<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.systemuioverlay.xiaomi">
    <application android:hasCode="false" />
    <overlay android:isStatic="true"
             android:priority="1"
             android:targetPackage="com.android.systemui"
             android:targetName="XiaomiSystemUIOverlay" />
</manifest>
