type vendor_hal_displayfeature_xiaomi_default, domain;
type vendor_hal_displayfeature_xiaomi_default_exec, exec_type, file_type, vendor_file_type;

type vendor_hal_displayfeature_xiaomi_hwservice, hwservice_manager_type;
