# Copyright (C) 2022-2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0

on early-boot
    chown system graphics /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown
    chmod 0664 /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown

on boot
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp
    chmod 0666 /dev/input/event2

on post-fs-data
    mkdir /data/vendor/misc 01771 system system
    mkdir /data/vendor/misc/mi_fp 0770 system system
    mkdir /persist/mi_fp 0770 system system
    mkdir /mnt/vendor/persist/mi_fp 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system
