on early-init
    start set_permissive

on property:dev.bootcomplete=1
    chmod 0666 /dev/xiaomi-touch

service set_permissive /system/bin/set_permissive.sh
    class main
    user root
    seclabel u:r:su:s0
    disabled
