on early-init
    start set_permissive

on late-fs
    # Qcom haptics
    chown system system /sys/class/qcom-haptics/lra_calibration
    chown system system /sys/class/qcom-haptics/lra_frequency_hz
    chown system system /sys/class/qcom-haptics/lra_impedance

    # Touch feature
    chown system system /dev/xiaomi-touch
    chmod 0660 /dev/xiaomi-touch

on property:persist.sys.fuxi.dt2w=*
    exec /system/bin/xiaomi-touch 14 ${persist.sys.Fuxi.dt2w}

service set_permissive /system/bin/set_permissive.sh
    class main
    user root
    seclabel u:r:su:s0
    disabled